.wrapper {
  padding-top: 50px;
  background: rgb(202, 188, 226);
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-around;
  align-content: flex-start;
  /* overflow: auto; */
}